/* Thickness of the bars */
:root {    
    --bar-width: 30vmin;
    --bar-height: 5vmin;
    --triangle-height: calc(-40vmin + var(--bar-width));
}

/* 1 Spinner bar */
.one {    
    position: absolute;
    background-color: green;
    height: var(--bar-height);
    width: var(--bar-width);
    left: calc(50vw - calc(var(--bar-width) / 2));
    top: calc(50vh - calc(var(--triangle-height) / 2));
}

/* Second Spinner */
.one:after {
    position: absolute;
    content: '';
    display: block;
}

.one:after {
    --rot-degrees: -60deg;    
    background-color: red;
    height: var(--bar-height);
    width: var(--bar-width);
    left: calc(-0.35 * var(--bar-width));
    top: calc(-7 * calc(var(--bar-height) / 2));
    
    transform: rotate(var(--rot-degrees));
    border-radius: 20px 0px / 0px 50px;
}


/* Third Spinner Bar */
.one:before {
    content: '';
    display: block;
    position: absolute;
}

.one:before {
    --rot-degrees: 60deg;    
    background-color: blue;
    height: var(--bar-height);
    width: var(--bar-width);
    left: calc(40vmin - var(--bar-width));
    top: calc(-7 * calc(var(--bar-height) / 2));
    
    transform: rotate(var(--rot-degrees));
    border-radius: 20px 0px / 0px 50px;
}

.one {
    transform-origin: center -10.2vmin;
    animation: doabarrellroll 2s infinite;
}

@keyframes doabarrellroll {
    100% {
        transform: rotate(360deg);
    }
}